*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvascontainer{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.selection{
  position: absolute;
  z-index: 1;
  top:5vh;
  left:5vw;
  background-color: rgb(22 16 16 / 59%);
  color: white;
  padding: 1% 2%;
  border-radius: 20px;
  box-shadow: 1px 5px 5px #0e0b0b45;
}

.btn-reset {
  padding: 4% 5%;
  outline: none;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  position: absolute;
  margin-top: 3vh;
  left: 0;
  width:  100%;
  box-shadow: 1px 5px 5px #0e0b0b45;
  cursor: pointer;

}

.materialChanger{
  position: absolute;
  z-index: 1;
  right: 2vw;
  top : 4vh;
  background-color: rgb(22 16 16 / 59%);
  color: white;
  padding: 1% 2%;
  border-radius: 15px;
  box-shadow: 1px 5px 5px #0e0b0b45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matrialChangeLabel{
  font-size: 20px;
}

.sketcher{
  margin-top: 10px;
}
.w-color-sketch {
  --sketch-background: rgb(22 16 16 / 59%) !important;
}

h1{
  font-size: 3vh;
}